body {
    background-color: #e6fffa; /* Light aqua */
    font-family: "Open Sans", sans-serif;
    color: #333; /* Dark gray for better contrast */
}

h1 {
    color: #f56565; /* Red */
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: #81e6d9; /* Aqua */
}

h2 {
    color: #333; /* Dark gray */
    background-color: #4299e1; /* Blue */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 20px;
    border-radius: 5px;
}

h3 {
    color: #f56565; /* Red */
    background-color: #81e6d9; /* Aqua */
    font-family: "JetBrains Mono", monospace;
    padding: 5px 10px;
    border-radius: 3px;
}

p {
    font-size: 16px;
    font-weight: 400;
}

#profile_pic {
    display: block;
    margin: 0 auto;
    width: 50%;
}
